@charset "utf-8";
/* CSS Document */

body {
	background-color: blueviolet;
}

h1 {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 48px;
	text-align: center;
	color: darkblue;
}

p {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 24px;
	margin: auto;
	text-align: center;
	color: aqua;
}

div {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	color: aquamarine;
	font-size: 32px;
	margin: auto;
	text-align: center;
}

.headerIMG {
/*	margin-left: 20%;*/
	height: 200px;
	margin-right: 20px;
}

.randomIMG {
/*	margin-right: 20%;*/
	height: 200px;
	margin-left: 20px;
}